{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": false,
  "printWidth": 180,
  "trailingComma": "all",
  "arrowParens": "avoid"
}